
.navbar{

    background: transparent;
    position: sticky;
    top: 0;
    color: white;
    transition: background-color 0.5s;

}


.navbar.scrolled{
    background: rgba(247, 247, 247, 0.3);
    color: black;
    backdrop-filter: blur(8px);
   
}


.nav-item a{
    font-weight: 600;
    padding: 0px 18px !important;
    border-radius: 25px;
    color: inherit !important;
    font-size: 13px !important;
    float: right;
 
}
.nav-item a:hover{
    color: #48B14D !important;

    border-radius: 25px;
    transition: 0.5s;
    transform: scale(1.2);
}

.navbar-brand{
    font-size: 22px !important;
    font-weight: 700;
    letter-spacing: 3px;
    color: inherit !important;
}

.image-intro{
    width: 300px;
    backdrop-filter: blur(100px);
    border-radius: 15px;
  
}

.intro{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1506452305024-9d3f02d1c9b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 100%;
    z-index: -1;
    background-position: bottom;
   
}


.img-about{
    width: 250px;
    border-radius: 10px;
}

.header-img{
    width: 160px;
    border-radius: 50%;
    border: 5px solid white;

}

.fa-angle-down{
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.fa-brands:hover{
    color: #48B14D;
   /* transition: 0.4s; */
   transform: scale(1.5);
}

.fa-brands{
    transition: 0.4s;

}

.btn:hover{
    background-color: #48B14D !important;
    transform: scale(1.1);

}

.btn{
    transition: 0.4s !important;
}

.progress{
    height: 6px !important;
    background-color: rgb(104, 104, 104) !important;
}

.progress-bar{
    background-color: #48B14D !important;
}


#skills{
    background-color: #F2F2F2;
}

.prjct{
    
    background-color: black;
    position: relative;
    z-index: 1;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}


.prjct img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.prjct .child{
    aspect-ratio: 16/9;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0;
    transition: 0.4s ease-in-out;
    opacity: 0;

}
.prjct:hover .child{
   scale: 1;
   opacity: 1;
}



#contact,#hire{
    background-color: #F2F2F2;
}

#hire .btn{
    width: 150px;
    height: 50px;
    
}

.arrow{
    animation: slide 0.9s ease-in-out infinite;
}

@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0px, 10px);
    }
  }

  /* h6,p{
    line-height: 1ch !important;
    margin: 0;
    padding: 0;
  } */

  /*loading animation */

  .animate{
    
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.7s all ease;
  }

  .animate.active{
    transform: translateY(0);
    opacity: 1;
  } 
  
  .animate2{
    transform: translateY(-100px);
    opacity: 0;
    transition: 1.4s all ease;
  }

  .animate2.active{
    transform: translateY(0);
    opacity: 1;
  } 

   .animate3{
    transform: translateY(-100px);
    opacity: 0;
    transition: 2s all ease;
  }

  .animate3.active{
    transform: translateY(0);
    opacity: 1;
  }